body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.active {
  background-color: cyan;
}
.container {
  text-align: center;
}
.btn {
  /* margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 100%; */
  margin: 0;
}

.delete {
  background-color: red;
  color: white;
  border-radius: 50%;
}
.para {
  background-color: yellow;
  width: auto;
}

.register {
  background-color: #3498db;
  color: white;
  padding: 5px 10px;
}
.input {
  padding: 5px 0;
  margin: 0px;
}

.form {
  margin: 10px 250px;
}

.control {
  margin-right: 30%;
}
.grp {
  margin-right: 30%;
  padding: 0;
}

.tHead {
  background-color: #85c1e9;
}

.blank {
  color: red;
  padding: 0;
  margin-left: 0;
}
.table {
  padding: 0;
}
.btn-full {
  width: 100%;
}
.btn-bottom {
  margin-bottom: 10px;
}
